body {
    margin: 100px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

blockquote {
    border-left: 5px solid rgb(221, 221, 221);
    padding: 10px 0px 50px 50px;
    font-style: italic;
}

table {
    border-spacing: 0;
    width: 100%;
}

table thead tr th {
    background-color: lightgray;
    text-align: left;
    padding: 5px 10px;
}

tbody tr td {
    border: 1px solid lightgray;
    padding: 5px 10px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(241 241 241);
}

tbody tr:nth-child(even) {
    background-color: rgb(255 255 255);
}

.quote-author {
    margin-left: 100%;
}