@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css');

/* Vars */
:root {
    --gray-bg: #efefef;
    --gray-social: #909090;
}

/* Page styling */
* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    margin: 0;
}

/* Nav */
nav.menu {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 1.5rem;
    cursor: pointer;
}

nav.menu i {
    font-size: 1.5rem;
}

/* Section */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--gray-bg);
    margin: 2rem;
    padding: 0 10rem;
    height: 700px;
}

/* Headers */
h2 {
    font-size: 48px;
}

h2 span {
    font-weight: 200;
}

/* Paragraphs */
p {
    letter-spacing: 0.7px;
    line-height: 1.4;
    font-size: 20px;
}

.template p,
.apollo p,
.message p {
    font-style: italic;
    font-family: "Georgia", serif;
    margin-top: 2.5rem;
}

/* Template article */ 
.template {
    flex-basis: 40%;
}

.template hr {
    margin-top: 2.5rem;
    height: 5.5rem;
    background-color: black;
    width: 3px;
}

/* Hero image */ 
#hero-img {
    max-width: 800px;
    align-self: flex-end;
}

/* My name is Apollo layout */
.apollo {
    padding: 0 4rem 0 10rem;
}

.apollo header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.apollo header hr {
    height: 2px;
    background-color: black;
    width: 5.5rem;
}

.apollo .social-media {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 2.5rem 0 0 0;
}

.apollo .social-media li {
    width: 40px;
    height: 40px;
    background-color: var(--gray-social);
    display: flex;
    justify-content: center;
}

.apollo .social-media li a {
    text-decoration: none;
    padding: 10px 14px;
    color: white;
}

/* Thumbnail */
.thumbnail {
    position: relative;
}

.thumbnail.container {
    padding: 0;
}

.thumbnail #thumbnail-1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Featured */ 
#featured-img {
    width: 50%;
}

#front-thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

/* Thumbnails */
.thumbnails div {
    display: flex;
    justify-content: center;
    gap: 20rem;
}

.thumbnails div img {
    width: 600px;
}

/* Message */
.message {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.message p {
    width: 85%;
}

.message input {
    all: unset;
    border: 2px solid black;
    position: relative;
    text-align: left;
    padding-left: 1rem;
}

.message form {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 2rem;
    margin: 4rem 0;
}

.message form > input {
    height: 7rem;
}

.message form div {
    display: flex;
    gap: 2rem;
}

.message form div input {
    height: 3rem;
    flex-basis: 50%;
}

.message form button {
    all: unset;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 0.7rem 0;
    font-weight: 600;
}

/* Placeholders for message section */
::-webkit-input-placeholder {
    text-align: left;
    position: absolute;
    padding-top: 0.8rem;
    font-weight: 600;
    font-size: 18px;
  }

/* Footer */
footer {
    position: absolute;
    bottom: 1rem;
}